<nav class="navbar" role="navigation" aria-label="main-navigation">
    <div class="navbar-brand">
        <a>
            <img
                width="90"
                alt="Angular Logo"
                src="https://th.bing.com/th/id/R9b1230dc8e8fbbcf1a78a4324c7829b9?rik=2Jqs3MoKorBzBg&riu=http%3a%2f%2fdigimallinc.com%2fwp-content%2fuploads%2f2018%2f08%2fkisspng-logo-e-commerce-electronic-business-ecommerce-5aca8122d1aa46.0475120015232207708588.png&ehk=im0lOfNSJ8%2fQFJ4c7aqRY9Sms8Me6Li2UCM%2b2s8olek%3d&risl=&pid=ImgRaw"
            />
        </a>
    </div>
    <div class="navbar-menu">

    </div>
</nav>
<div class="content">
    <section class="section">
        <div class="container mainBlock">
            <h1>Page Not Found</h1>
        </div>
    </section>
</div>
