<div class="title is-5">
    All Categories
</div>

<div class="columns">
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <img src="https://cdn.citysports.com/media/catalog/product/a/d/adidas_ultraboost_all_terrain_running_shoes__3.jpeg" alt="Placeholder image">
            </div>
           <div class="card-content">
            <div class="card-content-title">
                Adidas
            </div>
            <div class="card-content-subtitle">
                $ 49.00
            </div>
           </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Cart</a>
                <a href="#" class="card-footer-item">Buy Now</a>
              </footer>
          </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <img src="https://i.ebayimg.com/images/g/cLYAAOSwKGRfR1Wv/s-l300.png" alt="Placeholder image">
            </div>
           <div class="card-content">
            <div class="card-content-title">
                Nike
            </div>
            <div class="card-content-subtitle">
                $ 45.00
            </div>
           </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Cart</a>
                <a href="#" class="card-footer-item">Buy Now</a>
              </footer>
          </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <img src="https://cdna.lystit.com/photos/2013/08/23/converse-exuberance-chuck-taylor-ox-vintage-casual-sneakers-product-1-12982174-992161406.jpeg" alt="Placeholder image">
            </div>
           <div class="card-content">
            <div class="card-content-title">
                Converse
            </div>
            <div class="card-content-subtitle">
                $ 57.00
            </div>
           </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Cart</a>
                <a href="#" class="card-footer-item">Buy Now</a>
              </footer>
          </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <img src="https://th.bing.com/th/id/OIP.DrOZixPkPllTRZGiTwg3twHaHa?pid=ImgDet&w=600&h=600&rs=1" alt="Placeholder image">
            </div>
           <div class="card-content">
            <div class="card-content-title">
                Fila
            </div>
            <div class="card-content-subtitle">
                $ 59.00
            </div>
           </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Cart</a>
                <a href="#" class="card-footer-item">Buy Now</a>
              </footer>
          </div>
    </div>
</div>

<div class="columns">
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <img src="https://cdn.raffaello-network.com/item_images/guesshan-vg729106cognaccognac-large-1.jpg" alt="Placeholder image">
            </div>
           <div class="card-content">
            <div class="card-content-title">
                Guess
            </div>
            <div class="card-content-subtitle">
                $ 65.00
            </div>
           </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Cart</a>
                <a href="#" class="card-footer-item">Buy Now</a>
              </footer>
          </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <img src="https://www.fashionphile.com/images/product-images/large/7fa289ec99875d95ce89f2119308dc8b/ee1906a78df1700179499f9fb65e952b.jpg" alt="Placeholder image">
            </div>
           <div class="card-content">
            <div class="card-content-title">
                Channel
            </div>
            <div class="card-content-subtitle">
                $ 63.00
            </div>
           </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Cart</a>
                <a href="#" class="card-footer-item">Buy Now</a>
              </footer>
          </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <img src="https://th.bing.com/th/id/Ra66b454c244975e70bd9ed0e16820d54?rik=2QX43BJnrx2PmA&riu=http%3a%2f%2fak1.ostkcdn.com%2fimages%2fproducts%2f11852686%2fP18753861.jpg&ehk=8LzmDi2WlnVMtAhxaaNt3%2bcqPSe7uCks6XMqXVWVyvo%3d&risl=&pid=ImgRaw" alt="Placeholder image">
            </div>
           <div class="card-content">
            <div class="card-content-title">
                Prada
            </div>
            <div class="card-content-subtitle">
                $ 65.00
            </div>
           </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Cart</a>
                <a href="#" class="card-footer-item">Buy Now</a>
              </footer>
          </div>
    </div>
    <div class="column is-3">
        <div class="card">
            <div class="card-image">
                <img src="https://www.styleswardrobe.com/wp-content/uploads/2015/06/Louis-Vuitton-Bag-5.jpg" alt="Placeholder image">
            </div>
           <div class="card-content">
            <div class="card-content-title">
                Louis Vuitton
            </div>
            <div class="card-content-subtitle">
                $ 70.00
            </div>
           </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Cart</a>
                <a href="#" class="card-footer-item">Buy Now</a>
              </footer>
          </div>
    </div>
</div>
