<div class="header">
    <h1>Welcome {{ userInformation.name }}!</h1>
</div>

<div class="columns is-mobile is-centered">
    <div class="column">
        <div class="card" id="card-user">
            <div class="card-content">
              <div class="content">
                <div class="columns is-mobile">
                    <div class="column is-two-thirds">
                        <div class="title has-text-white">
                            {{ dashboardData.users }}
                        </div>
                        <div class="subtitle has-text-white">
                            Registered User
                        </div>
                    </div>
                    <div class="column">
                        <span class="icon is-large has-text-white">
                            <i class="fas fa-user fas fa-2x" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="column">
        <div class="card" id="card-visitors">
            <div class="card-content">
                <div class="content">
                    <div class="columns is-mobile">
                        <div class="column is-two-thirds">
                            <div class="title has-text-white">
                                {{ dashboardData.visitors }}
                            </div>
                            <div class="subtitle has-text-white">
                                Daily Visitors
                            </div>
                        </div>
                        <div class="column is-half-desktop">
                            <span class="icon is-large has-text-white">
                                <i class="fas fa-eye fas fa-2x" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card" id="card-notification">
            <div class="card-content">
                <div class="content">
                    <div class="columns is-mobile">
                        <div class="column is-two-thirds">
                            <div class="title has-text-white">
                                {{ dashboardData.notification }}
                            </div>
                            <div class="subtitle has-text-white">
                                Notification
                            </div>
                        </div>
                        <div class="column">
                            <span class="icon is-large has-text-white">
                                <i class="fas fa-bell fas fa-2x" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h2>Monthly Sales (2020)</h2>
<table class="table">
    <thead>
        <tr>
            <th>January</th>
            <th>February</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>August</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>83</th>
            <th>100</th>
            <th>179</th>
            <th>213</th>
            <th>250</th>
            <th>234</th>
            <th>262</th>
            <th>302</th>
            <th>356</th>
            <th>604</th>
            <th>862</th>
            <th>999</th>
        </tr>
    </tbody>
</table>