<div class="column is-half">
    <h1>Login</h1>
    <div class="field">
        <div class="control">
            <input class="input" type="text" placeholder="Email" required [(ngModel)]="postData.email">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input" type="password" placeholder="Password" required [(ngModel)]="postData.password">
        </div>
    </div>
    <div class="field">
        <div class="control">
           <span class="has-text-danger">{{errorText}}</span>
        </div>
    </div>
    <div class="field">
        <div class="control">
           <a routerLink="/forgot">Forgot Password?</a>
        </div>
    </div>
    <a class="button is-primary" (click)="loginAction()">Login</a>
</div>
