<div class="container is-widescreen">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p><strong>E-Commerce </strong> by Oodah Manzano.
      <span>All Right Reserved.</span>
    </p>
  </div>
</footer>