/* You can add global styles to this file, and also import other style files */

@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

.mainBlock {
    min-height: 400px;
}

nav {
    border-bottom: 1px solid #333333;
}

.header {
    padding-bottom: 20px;
}

.search input[type=text]{ 
    width:250px; 
    height:25px;
    margin-top: 25px;
} 

.search button{ 
    color: #0074D9;
    float: right; 
    padding: 5px 10px; 
    margin-top: 25px;
    margin-right: 16px;
    font-size: 12px; 
    border: none; 
    cursor: pointer; 
} 

.search button:hover {
    background-color: #0074D9;
    color: white;
}

.subtitle{
    font-size: medium;
}

#card-user {
    background-color:rgb(50, 177, 56);
}

#card-visitors {
    background-color:orange;
}

#card-notification {
    background-color:rgb(62, 62, 230);
}

.card-content {
    padding: 5px 0 0 20px;
}

.card-content-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.card-footer-item {
    font-size: smaller;
    color: rgba(250, 175, 12, 0.877);
}
