<nav class="navbar" role="navigation" aria-label="main-navigation">
    <div class="navbar-brand">
        <a>
            <img
                width="90"
                alt="Angular Logo"
                src="https://th.bing.com/th/id/R9b1230dc8e8fbbcf1a78a4324c7829b9?rik=2Jqs3MoKorBzBg&riu=http%3a%2f%2fdigimallinc.com%2fwp-content%2fuploads%2f2018%2f08%2fkisspng-logo-e-commerce-electronic-business-ecommerce-5aca8122d1aa46.0475120015232207708588.png&ehk=im0lOfNSJ8%2fQFJ4c7aqRY9Sms8Me6Li2UCM%2b2s8olek%3d&risl=&pid=ImgRaw"
            />
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="search"> 
                <form action="#"> 
                    <input type="text"
                        placeholder="Search.."
                        name="search"> 
                    <button type="submit"> 
                        <i class="fa fa-search"></i>
                    </button> 
                </form> 
            </div>
            <a class="navbar-item" routerLink="/">Dashboard</a>
            <a class="navbar-item" routerLink="/products">Products</a>
            <a class="navbar-item" routerLink="/">Cart</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Settings
                </a>
                <div class="navbar-dropdown">
                    <span class="icon-text">
                        <a class="navbar-item" routerLink="/settings">
                            <span class="icon">
                            <i class="fas fa-user-circle"></i>
                            </span>
                            <span>Profile</span>
                        </a>
                    </span>
                    <span class="icon-text">
                        <a class="navbar-item" routerLink="/notification">
                            <span class="icon">
                            <i class="fas fa-bell"></i>
                            </span>
                            <span>Notification</span>
                        </a>
                    </span>
                  <hr class="navbar-divider">
                  <span class="icon-text">
                    <a class="navbar-item" (click)="logoutAction()">
                        <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                </span>
                </div>
              </div>
            
        </div>
    </div>
</nav>

<div class="content">
    <section class="section">
        <div class="container mainBlock">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>
